.header{
    width: 100%;
    height: 75px;
    display: block;
    background-color: #deddd8;
    margin-bottom: 20px;
}

.inner_header{
      width: 90%;
      height: 100%;
      display: block;
      margin: 0 auto;
}

.logo_container{
      height: 100%;
      display: table;
      float: left;
}

.logo_container h1{
      color: black;
      height: 20px;
      display: table-cell;
      font-family: "Andes";
      font-size: 55px;
      font-weight: bolder;
      padding: 15px 25px;
      font-weight: 800;
      position: relative;
}

/*Site Navigation */
.site-nav {
      float: right;
      height: 100%;
}

.site-nav a{
      height: 100%;
      display: block;
      float: left;
      padding: 15px 20px;
      border: 1px solid black;
      text-decoration: none;
      margin-right: 5px;
}

.site-nav a:last-child{
      padding-right: 4;
}

.site-nav a li{
      display: table-cell;
      vertical-align: middle;
      height: 100%;
      color: black;
      font-family: "Arial, sans-serif";
      font-size: 16px;
      margin-right: 10px;
}

.site-nav a:hover {
  background-color: white;
}
/*End Site Navigation */

/*This is where the body of the site starts.*/

html, body{
    font-family: Tahoma, sans-serif;
    margin: 0;
    background-color: #deddd8;
}
/*This img tag is used for ALL img to have the following values */
.img {
  max-width: 100%
  height: auto;
  display: block;
}

.container {
  max-width: 960px;
  margin-left: auto;
  margin-right: auto;
}

.about-batman {
    max-width: 66%
    padding: 5px 10px;
    border: 2px solid #6b6b47;
    background-color: white;
    box-sizing: border-box;
}

.about-batman img {
  width: 445px;
  border-radius: 35%;
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 10px;
  padding-right: 20px;
  float: left;
  box-sizing: border-box;
  position: relative;
}

.about-batman span {
  position: absolute;
  top: 325px;
  left: 385px;
  color: yellow;
  font-size: 20px;
  font-weight: bolder;
  opacity: .1;
}

.about-batman h2{
      font-size: 25px;
      text-align: center;
      color: black;
      padding-top: 15px;
}

.about-batman p {
  width: 34%
  text-align:right;
  font-size: 18px;
  padding-left: 15px;
  padding-right: 15px;
  box-sizing: border-box;
}

.fix-1 {
  clear: both;
}

.group:before,
.group:after {
    content:"";
    display: table;
}

.group:after {
    clear: both;
}

.group {
  zoom: 1;
}

.bat-dad img {
  border-radius: 50%;
  padding-top: 40px;
  padding-bottom: 40px;
}
/*This starts Parents*/
.container-2 {
  max-width: 960px;
  margin-left: auto;
  margin-right: auto;
}

.parents {
  max-width: 66%
  padding: 5px 10px;
  border: 2px solid #6b6b47;
  background-color: white;
  box-sizing: border-box;
}

.parents img {
  width: 400px;
  border-radius: 35%;
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 10px;
  padding-right: 20px;
  float: right;
  box-sizing: border-box;
}

.parents h3{
  font-size: 23px;
  color: black;
  text-align: center;
  padding-top: 15px;
}

.parents p {
  width: 34%
  float:left;
  font-size: 18px;
  padding-left: 15px;
  padding-right: 15px;
}

.fix-2 {
  clear: both;
}

.group:before,
.group:after {
    content:"";
    display: table;
}

.group:after {
    clear: both;
}

.group {
  zoom: 1;
}

.bat-pool img {
  border-radius: 50%;
  padding-top: 40px;
  padding-bottom: 40px;
}

/*This is the start of Batmans Friends*/

.container-3 {
  max-width: 960px;
  margin-left: auto;
  margin-right: auto;
}

.batmans-friends {
  max-width: 66%
  padding: 5px 10px;
  border: 2px solid #6b6b47;
  background-color: white;
  box-sizing: border-box;
}

.batmans-friends h3 {
  font-size: 20px;
  color: black;
  text-align: center;
  padding-top: 15px;
}

.batmans-friends img {
  width: 370px;
  border-radius: 35%;
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 10px;
  padding-right: 20px;
  float: left;
  box-sizing: border-box;
}

.batmans-friends p {
  width: 34%
  float:right;
  font-size: 18px;
  padding-left: 15px;
  padding-right: 15px;
}

.pictures img {
  border-radius: 60px;
}

.fix-3 {
  clear: both;
}

.group:before,
.group:after {
    content:"";
    display: table;
}

.group:after {
    clear: both;
}

.group {
  zoom: 1;
}

.bat-grass img {
  border-radius: 50%;
  padding-top: 40px;
  padding-bottom: 40px;
}

.footer {
  text-align: center;
  font-size: 85%;
  color: #999;
  padding-bottom: 20px;
}
