* {
  box-sizing: border-box;
}


header{
    padding-top: 20px;
    background-color: black;
    color: white;
}

.container {
  max-width: 940px;
  margin: 0 auto;
}

header h1{
      color: white;
      height: 20px;
      display: block;
      font-family: "Andes, sans-serif";
      font-size: 55px;
      letter-spacing: 4px;
      text-shadow: 2px 10px 3px #999999;
      font-weight: 800;
      position: relative;
}

/*Site Navigation */
.site-nav ul {
  margin: 0;
  padding: 0;
}

.site-nav li {
  float: left;
  list-style: none;
  margin-right: : 5px;
}

.site-nav a{
      height: 80px;
      width: 80px;
      display: block;
      background-color: inherit;
      text-decoration: none;
      color: white;
      font-family: "Andes, sans-serif";
      font-size: 14px;
      padding: 10px 20px;
      border-bottom: none;
}


.site-nav-about-batman a {background-position: 0;}

.site-nav-parents a {background-position: 0;}

.site-nav-friends a {background-position: 0;}

.site-nav-contact a {background-position: 0;}

.site-nav a:hover {background-color: white;}
/*End Site Navigation */

/*This is where the body of the site starts.*/

html {
  background-color: #deddd8;
  line-height: 1.5;
}

body {
    font-family: Tahoma, sans-serif;
    margin: 0;
    padding: 0;
    font-size: 15px;
}

.container {
  max-width: 940px;
  margin: 0 auto;
  padding-left: 40px;
  padding-right: 40px;
}

.about-batman {
    max-width: 66%
    padding: 5px 10px;
    border: 2px solid #737373;
    border-radius: 20px;
    background-color: white;
    box-sizing: border-box;
    box-shadow: inset 2px 2px 2px rgba(0, 0, 0, .13)
}

.about-batman img {
    width: 445px;
    border-radius: 35%;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 10px;
    padding-right: 20px;
    float: left;
    box-sizing: border-box;
    position: relative;
}

#about-batman h2{
      font-size: 25px;
      text-align: center;
      color: black;
      padding-top: 15px;
}

.about-batman p {
  width: 34%
  text-align:right;
  font-size: 18px;
  padding-left: 15px;
  padding-right: 15px;
  box-sizing: border-box;
}

.fix-1 {
  clear: both;
}

.group:before,
.group:after {
    content:"";
    display: table;
}

.group:after {
    clear: both;
}

.group {
  zoom: 1;
}

.bat-logo img {
  border-radius: 50%;
  padding-top: 40px;
  padding-bottom: 40px;
  height: 400px;
  width: 672px;
  position: relative;
}
/*This starts Parents*/

.parents {
  max-width: 66%
  padding: 5px 10px;
  border: 2px solid #737373;
  background-color: white;
  border-radius: 20px;
  box-sizing: border-box;
}

.parents img {
  width: 400px;
  border-radius: 35%;
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 10px;
  padding-right: 20px;
  float: right;
  box-sizing: border-box;
}

#parents h3{
  font-size: 23px;
  color: black;
  text-align: center;
  padding-top: 15px;
}

.parents p {
  width: 34%
  float:left;
  font-size: 18px;
  padding-left: 15px;
  padding-right: 15px;
}

.fix-2 {
  clear: both;
}

.group:before,
.group:after {
    content:"";
    display: table;
}

.group:after {
    clear: both;
}

.group {
  zoom: 1;
}

/* 1 image= bat-dad */

.bat-dad img {
  border-radius: 25%;
  padding-top: 40px;
  padding-bottom: 15px;
  max-width: 50%;
}

.fix-4 {
  clear: both;
}

.group:before,
.group:after {
    content:"";
    display: table;
}

.group:after {
    clear: both;
}

.group {
  zoom: 1;
}

/*This is the start of Batmans Friends*/

.batmans-friends {
  max-width: 66%
  padding: 5px 10px;
  border: 2px solid #737373;
  background-color: white;
  border-radius: 20px;
  box-sizing: border-box;
  margin: 40px;
}

#batmans-friends h3 {
  font-size: 20px;
  color: black;
  text-align: center;
  padding-top: 15px;
}

.batmans-friends img {
  width: 370px;
  border-radius: 35%;
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 10px;
  padding-right: 20px;
  float: left;
  box-sizing: border-box;
}

.batmans-friends p {
  width: 34%
  float: right;
  font-size: 18px;
  padding-left: 15px;
  padding-right: 15px;
}

.pictures img {
  border-radius: 60px;
}

.fix-3 {
  clear: both;
}

.group:before,
.group:after {
    content:"";
    display: table;
}

.group:after {
    clear: both;
}

.group {
  zoom: 1;
}

.bat-grass img {
  border-radius: 15%;
  padding-top: 40px;
  padding-bottom: 40px;
}

/* Learn More Content */
.content {
  margin: 10px;
}

/*Form Styles*/
form {
  padding-top: 10px;
  padding-bottom: 15px;
}

.hidden-label {
  position: absolute;
  height: 0;
  width: 0;
  overflow: hidden;
  visibility: hidden;
}

input,
select {
  font-family: Tahoma, sans-serif;
  font-size: 100%;
}

input[type="email"],
[type="password"],
[type="text"],
[type="number"],
[type="tel"],
select {
  display: block;
  box-sizing: border-box;
  padding: 0 10px;
  height: 40px;
  font-family: Tahoma, sans-serif;
  font-size: 100%;
  margin-top: 15px;
  margin-bottom: 15px;
  margin-left: 20px;
  border: 1px solid #b3b3b3;
  outline: none;
}

input[type="email"]:focus,
[type="password"]:focus,
[type="text"]:focus,
[type="number"]:focus,
[type="tel"]:focus {
  border: 1px solid #b3b3b3;
  box-shadow: inset 2px 2px 2px rgba(0, 0, 0, .13);
}

input[type="submit"] {
  display: block;
  box-sizing: border-box;
  background-color: #b3b3b3;
  color: white;
  padding: 10px 0;
  border: 1px solid black;
  border-radius: 3px;
  width: 115px;
  margin-top: 10px;
  margin-left: 20px;
  margin-bottom: 10px;
  outline: none;
}

input[type="submit"]:hover,
input[type="submit"]:focus {
    border: 1px solid #b3b3b3;
    background-color: #4d4d4d;
}

.checkbox-text {
  font-size: 85%;
  color: #d9d9d9;
}
/* End of Form */

.footer {
  text-align: center;
  font-size: 85%;
  color: #999;
  padding-bottom: 20px;
}
